/* -----------------------
:: Hero Slider
----------------------- */
.ino-hero-slider {
  background: #ccc;
  .swiper-container {
    height: rem(475);

    .swiper-slide {
      background-size: cover;
    }
  }
}