/* -----------------------
:: Base
----------------------- */
html,
body {
  font-size: 16px;
  font-family: $muli;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h4,
.h4 {
  font-family: $muli;
}