/* -----------------------
:: Password 
----------------------- */
.ino-password {
  &__title {
    font-size: rem(40);
    text-transform: uppercase;
    font-family: $playfair;
  }
}

/* :: Responsive */
@include media-breakpoint-up(md) {
  .ino-password {
    &__title {
      font-size: rem(60);
    }
  }
}