.color-golden {
  color: #B4A27E;
}

/* -----------------------
:: Base
----------------------- */
html,
body {
  font-size: 16px;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4,
.h4 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* -----------------------
:: Header
----------------------- */
/* -----------------------
:: Mobile Header
----------------------- */
.ino-header-mobile {
  padding-top: 0 !important;
}

.ino-header-mobile__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 3.75rem;
  border-bottom: 1px solid #E4E4E4;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.ino-header-mobile__logo {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0;
}

.ino-header-mobile__menu-icon {
  width: 2rem;
  height: 2rem;
  background: url("../images/icon-menu.svg") no-repeat center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.ino-header-mobile__menu-icon .site-nav--mobile {
  margin-left: 0;
}

.ino-header-mobile__menu-icon .site-nav__link {
  padding: 0;
}

.ino-header-mobile__shopping-bag {
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 1024px) {
  .ino-header-mobile {
    display: none;
  }
}

/* -----------------------
:: Desktop Header
----------------------- */
.ino-header-desktop {
  display: none;
  overflow: visible;
  letter-spacing: 0.1em;
  background-color: #fff;
}

.ino-header-desktop .logo-desktop {
  margin-bottom: 0;
  text-align: center;
  margin-top: 1.56rem;
  margin-bottom: 1.56rem;
}

.ino-header-desktop .desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow: visible;
}

.ino-header-desktop .desktop-nav > .desktop-nav__item {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.ino-header-desktop .desktop-nav > .desktop-nav__item:hover {
  border-bottom-color: #B4A27E;
}

.ino-header-desktop .desktop-nav__item {
  text-transform: uppercase;
  font-size: 0.88rem;
  margin-bottom: 0;
}

.ino-header-desktop .desktop-nav__item .desktop-nav__link {
  color: #0A0A0A;
  text-decoration: none;
  line-height: 2;
}

.ino-header-desktop .desktop-nav__item:not(:last-child) {
  margin-right: 2.5rem;
}

.ino-header-desktop .desktop-nav__item:hover .desktop-nav__link {
  color: #B4A27E;
}

.ino-header-desktop .desktop-nav__item:hover .desktop-nav-sublist-container {
  visibility: visible;
  opacity: 1;
}

.ino-header-desktop .desktop-nav-sublist-container {
  border-top: 1px solid #E4E4E4;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  visibility: hidden;
  margin-top: 0;
  margin-left: 0;
  height: 15.63rem;
  -webkit-box-shadow: 0 1px 3px rgba(10, 10, 10, 0.1);
          box-shadow: 0 1px 3px rgba(10, 10, 10, 0.1);
}

.ino-header-desktop .desktop-nav__sublist {
  margin-left: 0;
  list-style: none;
}

.ino-header-desktop .desktop-nav__sublist .desktop-nav__item {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  line-height: 2.5;
}

.ino-header-desktop .desktop-nav__has-sublist:hover {
  position: relative;
}

.ino-header-desktop .desktop-nav__has-sublist:hover .desktop-nav__link {
  color: #B4A27E;
}

.ino-header-desktop .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav-store-options {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-store-options__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-store-options__user a {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #0A0A0A;
  text-decoration: none;
  margin-right: 0.75rem;
  margin-left: 0.5rem;
}

.nav-store-options__shopping-bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-store-options__search button#close_modal_search {
  position: fixed;
  top: 5vh;
  right: 5vh;
  z-index: 2;
  visibility: hidden;
  -webkit-transform: all 500ms ease;
          transform: all 500ms ease;
}

.nav-store-options__search.backdrop-open button#close_modal_search {
  visibility: visible;
}

.nav-store-options__search > form.input-group.search-bar > .input-group-btn {
  position: relative;
}

.nav-store-options__search > form.input-group.search-bar > .input-group-btn > button.icon-fallback-text {
  padding: 0;
}

.nav-store-options__search > form.input-group.search-bar.backdrop-search::after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 1;
}

.nav-store-options__search > form.input-group.search-bar.backdrop-search > input {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px 12px;
  font-size: 1.8rem;
  font-weight: 100;
  height: 4.2rem;
  z-index: 2;
  caret-color: #B4A27E;
  outline-color: #B4A27E;
  background: transparent;
  border-bottom: 1px solid #B4A27E;
  visibility: visible;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav-store-options__search > form.input-group.search-bar.backdrop-search > input::-moz-selection {
  background-color: rgba(180, 162, 126, 0.3);
}

.nav-store-options__search > form.input-group.search-bar.backdrop-search > input::selection {
  background-color: rgba(180, 162, 126, 0.3);
}

.nav-store-options__search input[type=search] {
  width: 0;
  padding: 0;
  visibility: hidden;
}

.nav-store-options .grid-container {
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.nav-store-options .grid-container > li {
  padding: 0 0.75rem;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .ino-header-desktop {
    display: block;
  }
}

/* -----------------------
:: Promotion Alert
----------------------- */
.promotion-alert {
  background: #0A0A0A;
}

.promotion-alert p {
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0;
  padding: 0.56rem 0;
}

.promotion-alert p:empty {
  display: none;
}

.heading--title {
  font-size: 2.5rem;
  letter-spacing: 0.2em;
}

.heading--uppercase {
  text-transform: uppercase;
}

.heading--spacing {
  letter-spacing: 0.2em;
}

.heading--playfair {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

.heading--font-weight-300 {
  font-weight: 300;
}

.heading--lead {
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* -----------------------
:: Hero Slider
----------------------- */
.ino-hero-slider {
  background: #ccc;
}

.ino-hero-slider .swiper-container {
  height: 29.69rem;
}

.ino-hero-slider .swiper-container .swiper-slide {
  background-size: cover;
}

/* -----------------------
:: Swiper
----------------------- */
.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* -----------------------
:: Forms
----------------------- */
.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-bar input[type=search] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.88rem;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.search-bar > .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.81rem;
  height: 2.81rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-control {
  height: 3rem;
  border-radius: 0;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  font-size: 0.88rem;
}

.form-control:focus {
  border-color: #B4A27E;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(180, 162, 126, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(180, 162, 126, 0.25);
}

/* -----------------------
:: Buttons
----------------------- */
.btn {
  height: 3rem;
}

.btn-dark {
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* -----------------------
:: Application Form
----------------------- */
.application-form--bg {
  background: url("../images/bg-application-form.jpg") no-repeat center;
}

.application-form__title {
  font-size: 1.13rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.application-form__form-section-title {
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.application-form .form-container {
  background-color: #fff;
}

.application-form input:not([type=checkbox]),
.application-form select,
.application-form option {
  border-radius: 0;
  background-color: #f5f5f5;
  font-size: 0.88rem;
  height: 3rem;
  border-color: #f5f5f5;
}

.application-form input:not([type=checkbox]):focus,
.application-form select:focus,
.application-form option:focus {
  background-color: #f5f5f5;
}

.application-form .input-group > .input-group-prepend > .input-group-text {
  border-radius: 0;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

/* -----------------------
:: Login
----------------------- */
.login-page__title {
  color: #fff;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

.login-page--bg {
  background-image: url("../images/bg-fashion-show.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

.login-page__form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page__form {
  background-color: #fff;
  width: 100%;
  height: 26.88rem;
}

.login-page .container-fluid .row {
  height: 100%;
  min-height: 100vh;
}

.login-form__logo {
  max-height: 2.19rem;
}

.login-form__title {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

.login-form__member-link {
  font-size: 0.75rem;
}

.login-form__forgot-password {
  color: #B4A27E;
  font-size: 0.88rem;
}

@media (min-width: 1024px) {
  .login-form {
    max-width: 26.25rem;
  }
}

@media (min-width: 1200px) {
  .login-page__form-section {
    background-color: #fff;
  }
  .login-page--bg {
    background-position: -50rem 0;
    background-size: contain;
  }
  .login-form__logo {
    max-height: 2.63rem;
  }
}

/* -----------------------
:: Instagram
----------------------- */
.ino-instagram .swiper-slide {
  width: 10.75rem;
  height: 10.75rem;
  border: 1px solid #f5f5f5;
}

.instagram-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instagram-list > li {
  width: 172px;
  height: 172px;
  display: block;
}

.instagram-list a {
  width: 172px;
  height: 172px;
  display: block;
}

/* -----------------------
:: Password 
----------------------- */
.ino-password__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

/* :: Responsive */
@media (min-width: 768px) {
  .ino-password__title {
    font-size: 3.75rem;
  }
}

/* -----------------------
:: Footer
----------------------- */
.ino-footer {
  background-color: #f5f5f5;
}

.ino-footer > .container {
  padding: 2rem 2rem 0 2rem;
}

.ino-footer__title {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.ino-footer__subtitle--small {
  font-size: 0.63rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.ino-footer__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-bottom: 3rem;
}

.ino-footer__link {
  color: #0A0A0A;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.ino-footer__link:hover {
  color: #B4A27E;
}

.ino-footer__legal {
  border-top: 1px solid #E4E4E4;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ino-footer__legal--text {
  font-size: 0.63rem;
  letter-spacing: 0.2em;
  margin-bottom: 0;
}

.ino-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.ino-footer__icons {
  color: #0A0A0A;
}

.ino-footer__icons:hover {
  color: #B4A27E;
}

.ino-footer__socials-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ino-footer__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ino-footer__subscribe-form-input {
  border-radius: 0;
  padding: 0.75rem;
  font-size: 0.88rem;
  height: 2.94rem;
  width: 100%;
}

.ino-footer__subscribe-form-input:focus {
  outline-color: #B4A27E;
}

.ino-footer__subscribe-form-button {
  border-radius: 0;
  padding: 0.75rem 1.5rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.88rem;
}

/* -----------------------
:: New Arrivals 
----------------------- */
.ino-new-arrivals-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.ino-new-arrivals__main-product {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.ino-new-arrivals__second-product {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  background: blue;
}

.ino-new-arrivals__third-product {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
  background: red;
  min-height: 8.38rem;
}

.ino-new-arrivals__fourth-product {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  background: orange;
  min-height: 8.38rem;
}

.ino-new-arrivals__box {
  margin-top: auto;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  z-index: 1;
}

.ino-new-arrivals__box > h5,
.ino-new-arrivals__box > p {
  margin: 0;
}

.ino-new-arrivals__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  margin-top: auto;
  -webkit-box-shadow: rgba(10, 10, 10, 0.5);
          box-shadow: rgba(10, 10, 10, 0.5);
}

.ino-new-arrivals__brand > p {
  text-transform: uppercase;
  z-index: 1;
}

.ino-new-arrivals [class*="-product"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ino-new-arrivals .shadow-overlay {
  position: relative;
}

.ino-new-arrivals .shadow-overlay::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10, 10, 10, 0)), color-stop(100%, rgba(10, 10, 10, 0.5)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0)), to(rgba(10, 10, 10, 0.5)));
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(10, 10, 10, 0.5) 100%);
}

/* :: Responsive */
@media (min-width: 1024px) {
  .new-arrivals-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .new-arrivals__main-product {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
  }
  .new-arrivals__second-product {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 3 / 4;
    width: 16.75rem;
  }
  .new-arrivals__third-product {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / 2 / 5;
    height: 16.75rem;
    width: 16.75rem;
  }
  .new-arrivals__fourth-product {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2 / 4 / 3 / 5;
    height: 16.75rem;
    width: 16.75rem;
  }
}
